name: Build and push to production
on:
    push:
        branches:
            - main

jobs:
    build:
        uses: ./.github/workflows/gcr-build.yml
        with:
            environment: prod
        secrets:
            GCR_PROJECT: ${{ secrets.GCR_PROJECT }}
            GCR_SA_KEY: ${{ secrets.GCR_SA_KEY }}
